html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
table{
    margin-top:50px;
    background: -webkit-linear-gradient(rgba(250, 240, 200, .7), rgba(250, 250, 250, .7)), url('./bg.JPG');
    background: -moz-linear-gradient(rgba(250, 240, 200, .7), rgba(250, 250, 250, .7)), url('./bg.JPG');
    background: linear-gradient(rgba(250, 240, 200, .7), rgba(250, 250, 250, .7)), url('./bg.JPG');
}

.staffRow{
    width:1000px;
    height:50px;
    border-top: 2px solid #000;
}
#treb{
    width:100px;
    font-size:48pt;
    text-align: center;
}
.aNote{
    display:block;
    font-size:24pt;
    position:absolute;
    border:1px solid #000;
    border-radius: 50%;
    width:10px;
    height:10px;
    transition-duration:.5s;
}
.aNote:hover{
    width:20px;
    height:20px;
}
.key{
    display:inline-block;
    width:50px;
    height:50px;
    border:1px solid #999;
    border-radius:5px;
    text-align: center;
    font-size:large;
    background-color:#eee;
    margin-right:5px;
    transition-duration:.5s;
}
.key > .note{
    color:#eee;
    position:relative;
    bottom:0px;
    transition-duration:.5s;
}
.key:hover{
    color:#ccc;
    background-color:#ccc;
}
.key:hover>.note{
    color:#000;
}